* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-family: 'Playpen Sans', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}